{% extends 'main/base.html' %}
{% load static %}
{% block title %} - Outreach - Code of Conduct{% endblock %}
{% block main %}
<style type="text/css">
  .page_content {
    font-size:20px;
  }
  .page_title {
    margin-bottom:0;
  }
</style>
<div class="page_title">Code of Conduct</div>
<nav class="breadcrumbs">
  <div class="nav-wrapper">
    <div class=" col s12">
      <a href="{% url 'arvo:index' %}" class="breadcrumb">Outreach</a>
      <a href="#!" class="breadcrumb">Code of Conduct</a>
    </div>
  </div>
</nav>
<div class="page_content">
  <p><b>Nonviolence in action, word, and tone</b>, for how we speak to the public, and how we speak to eachother. This means we do not tolerate bullying, harassment, threats, intimidation, condescension, manipulation, or hate-speech. We are respectful and inclusive of people of all ages, abilities, genders, cultures, ethnicities, and religious backgrounds.</p>
  <p><b>Respect for the non-vegans we outreach</b>. We meet people where they're at, and give them the knowledge and resources to connect their actions with their values. We can be direct without being aggressive and polite without being servile. The most effective form of outreach is a balance between the two. If people become aggressive, we disengage from conversation and alert an organizer.</p>
  <p><b>Objectivity in our facts and explanations</b>. We won't cite exaggerated statistics or over-emphasize rare or outdated practices. We should focus on standard industry practice in factory farming, which accounts for the overwhelming majority of animal products sold, and on the most recent scientific data available. By sticking to hard facts, we escape the more nebulous realm of opinion. The truth is on our side.</p>
  <p>By attending these events, you agree to uphold these values. By maintaining a safe, inclusive, and academic space, we can be most effective in raising the public's awareness about animal agriculture and animal rights, and impacting the industry by reducing demand for animal products.</p>
</div>
{% endblock %}