{% extends 'main/base.html' %}
{% block title %} - Load events from JSON{% endblock %}
{% block main %}
<div class="page_title">Load events from JSON</div>
<form action="" method="post">
  {% csrf_token %}
  <button class="btn">submit</button>
  <div class="input-field">
    <textarea id="json_events" name="json_events" class="materialize-textarea"></textarea>
    <label for="json_events">JSON</label>
  </div>
</form>
{% endblock %}
