{% extends 'main/base.html' %}
{% block title %} - event post{% endblock %}
{% block main %}
<style>
    textarea {
        height: 400px;
        padding:10px;
    }

    #formdiv {
        padding:10px;
        margin:10px 0px;
        text-align:center;
    }

</style>
<div id="formdiv" class="row">
    <form action="" method="post">
        {% csrf_token %}
        <div class="input-field inline">
            <select name="week_index" class="inline">
                {% for week in weeks %}
                <option value="{{week.index}}" {% if week.index == week_index %}selected{% endif %}>{{week.name}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn">view events</button>
    </form>
</div>
<textarea>
Here are the upcoming events for the week, view more at http://pdx.activewiki.org/events/
{% for event in events %}
{{event.title}}
{{event.pretty_datetime}}
{{event.address}}
{{event.url}}
--------------------------
{% endfor %}
</textarea>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
    });
</script>

{% endblock %}