

/* :root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}
[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
} */

:root {
  --background-color: #202020;
  --foreground-color: #404040;
  --body-text-color: #f5f5f5;
  --text-color:#f5f5f5;
  --text-faded: dimgrey;
  --link-color:#b3e5fc;
  --highlight1: #b3e5fc;
  --highlight2: #f06292;
  --logo-filter:none; /*invert(100%);*/
  /* --button-background:#606060; */
  --button-background:#ec407a;
  --button-background-disabled:dimgrey;

  /* --body-background: url('https://upload.wikimedia.org/wikipedia/commons/9/9e/Milky_Way_IR_Spitzer.jpg') no-repeat center center fixed; */
  --body-background: #202020;
  --page-background: #202020;
  --navbar-text-color: white;
  --navbar-background-color: #303030;
  --collapsible-header-text-color:#f5f5f5;
  --collapsible-header-link-color:#b3e5fc;
  --collapsible-header-background:#404040;
  --collapsible-body-text-color:white;
  --collapsible-body-background:#212121;
}
[data-theme="light"] {
  --background-color:white;
  --foreground-color:#4CAF50;
  --text-color:black;
  --body-text-color: black;
  /* --link-color:#b3e5fc; */
  --link-color:#2196f3;
  --text-faded: dimgrey;
  --highlight1: #e1f5fe;
  --highlight2: #2196f3;
  --button-background:#4CAF50;
  --button-background-disabled:dimgrey;

  --body-background: #C8E6C9;
  --page-background: white; /* #1b5e20 */
  --navbar-text-color: white;
  --navbar-background-color: #4CAF50;
  --collapsible-header-text-color:white;
  --collapsible-header-link-color:white;
  --collapsible-header-background:#4CAF50;
  --collapsible-body-text-color:black;
  --collapsible-body-background:white;
}
[data-theme="grey"] {
  --background-color: #212121;
  --foreground-color: #424242;
  --body-text-color: #f5f5f5;
  --text-color:#f5f5f5;
  --text-faded: dimgrey;
  --link-color:#b3e5fc;
  --highlight1: #b3e5fc;
  --highlight2: #f06292;
  --logo-filter:none; /*invert(100%);*/
  --button-background:#ec407a;
  --button-background-disabled:dimgrey;

  /* --body-background: url('https://upload.wikimedia.org/wikipedia/commons/9/9e/Milky_Way_IR_Spitzer.jpg') no-repeat center center fixed; */
  --body-background: #212121;
  --page-background: #212121;
  --navbar-text-color: white;
  --navbar-background-color: #424242;
  --collapsible-header-text-color:#f5f5f5;
  --collapsible-header-link-color:#b3e5fc;
  --collapsible-header-background:#424242;
  --collapsible-body-text-color:white;
  --collapsible-body-background:#212121;
}

.dropdown-content {
  background-color: var(--background-color);
  width:240px !important;
}
.dropdown-content li > span {
  color: var(--highlight1);
}

.btn, .btn-floating {
  text-transform:none !important;
  background-color:var(--button-background);

}
.btn:focus{
  background-color:var(--button-background);
}
.btn[disabled], .btn-floating[disabled] {
  background-color:var(--button-background-disabled) !important;
}
.btn:hover, .btn-floating:hover {
  text-transform:none !important;
  background-color:var(--highlight2)
}


.collapsible, .collapsible-header, .collapsible-body {
  border: none;
}
.collapsible {
  border: none;
  box-shadow: none;
  -webkit-box-shadow:none;
}
.collapsible-header {
  font-size:24px;
  color:var(--collapsible-header-text-color);
  background-color:var(--collapsible-header-background);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}
.collapsible-header a {
  color: var(--collapsible-header-link-color);
}
.keyboard-focused .collapsible-header:focus {
  background-color:var(--collapsible-header-background) !important;
}

.collapsible-body {
  background-color:var(--collapsible-body-background) !important;
  font-size:20px;
  margin:20px;
}


.sidenav {
  background-color: var(--body-background);

}
.sidenav li > a {
  color: var(--text-color);
  font-size:20px;
}




.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid var(--highlight1);
}




/* .dropdown-content li > a, .dropdown-content li > span {
  color: var(--link-color);
} */
.dropdown-content {

  background-color: var(--navbar-background-color);
}
.dropdown-content li > a {
  color: var(--navbar-text-color);
}
.dropdown-content li:hover {
  background-color: var(--navbar-background-color);
}










.page_title {
  font-size:40px;
  margin-top:20px;
  margin-bottom:30px;
}
.page_title_center {
  font-size:40px;
  margin-top:20px;
  margin-bottom:30px;
  text-align:center;
}

.page_subtitle {
  font-size:14px;
  text-align:center;
  margin:20px;
}

h2 {
  font-size:30px;
}

nav .brand-logo, nav ul a {
  color:var(--navbar-text-color);
}

a {
  color: var(--link-color);
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--text-color);
  overflow-y: scroll !important;
}

input, textarea {
  color: var(--text-color);
}


.datepicker-date-display {
  background-color: #404040;
}

.datepicker-table td.is-today {
  color: #5c6bc0 !important;
}

.datepicker-calendar-container {
  background-color: #303030;
}

.timepicker-digital-display {
  background-color: #404040;
}
.timepicker-analog-display {
  background-color: #303030;
}

.datepicker-clear {
  color:white;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
  color:white;
}

.timepicker-clear {
  color:white;
}

.timepicker-close {
  color:white;
}


.message {
  text-align:center;
  background-color:var(--button-background);
  margin-top:10px;
  padding:10px;
}

input[type="range"] {
  border: none !important;
}




/* html {
    overflow-y: scroll;
} */
html, body {
  width:100%;
  height:100%;
}
main {
  max-width:800px;
  min-height:100%;
  margin: 0 auto;
}
.logo {
  width:40px;
  filter:var(--logo-filter);
  margin:12px;
}

a {
  text-decoration: none;
  outline: 0;
}
body {
  /* display: flex; */
  /* min-height: 100vh; */
  /* flex-direction: column; */

}

/* main {
  flex: 1 0 auto;
} */
body {

  font-family: 'Open Sans', sans-serif;

  background: var(--body-background);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.brand-logo {
  font-size:20px !important;
}
a.svg {
  position: relative;
  display: inline-block;
}
a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}








/* .sidenav-trigger i {
  font-size:40px;
} */

main {
  background-color: var(--page-background);
}
.nav-wrapper {
  background-color: var(--foreground-color);
  padding: 0px 10px;
}
nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    line-height: 64px !important;
    height:64px !important;
}
.brand-logo {
  margin-left:20px;
}
.block_main {
  padding:0px 20px;
}
@media only screen and (max-width: 800px) {
    .block_main {
      padding:0;
    }
    #filter_form {
      flex-direction:column;
      padding:10px;
    }
}
.nav_title {
  font-size:20px;
  display: inline-block;
  transform:translateY(-40%)
}



.breadcrumbs {
  display:flex;
  flex-direction:row;
  align-items:center;
  background-color:transparent;
  box-shadow:none;
  padding:0;
}
.breadcrumbs .nav-wrapper {
  background-color:transparent;
  padding: 0;
}
.breadcrumbs a {
  color: var(--link-color);

}
.breadcrumbs a:last-child {
  color: var(--text-color) !important;
}