{% extends 'main/base.html' %}
{% load static %}
{% block title %} - {{group.name}}{% endblock %}
{% block main %}
<style type="text/css">
  .object_title {
    font-size:32px;
  }
  .object {
    margin: 20px 0;
  }
  .object > * {
    margin: 8px 0;
  }
  .tag_div {
    margin: 20px 0;
  }
</style>
<div class="object">
  <div class="object_title">{{ group.name }}</div>
  {% if group.address %}
    <div>{{group.scope.name|title}} - {{group.address}}</div>
  {% else %}
    <div>{{group.scope.name|title}}</div>
  {% endif %}
  <div>{{group.description | safe}}</div>
</div>
<div class="tag_div">
  {% for link in group.sorted_links %}
    {% if link.type.name == 'facebook' or link.type.name == 'instagram' or link.type.name == 'twitter' or link.type.name == 'meetup' or link.type.name == 'youtube' %}
      {% with 'main/images/social/'|add:link.type.name|add:'.png' as image_static %}
        <a href="{{link.data}}" class="btn"><img src="{% static image_static %}" style="width:20px;transform:translateY(4px);"/></a>
      {% endwith %}
    {% elif link.type.name == 'email' %}
    <a href="mailto:{{link.data}}" class="btn"><i class="material-icons">{{link.type.icon}}</i></a>
    {% else %}
    <a href="{{link.data}}" class="btn"><i class="material-icons">{{link.type.icon}}</i></a>
    {% endif %}
  {% endfor %}
  <a href="/{{group.type.name}}/" class="btn">View More {{group.type.name | title}}{% if subdomain %} in {{subdomain.name}}{% endif %}</a>
</div>
{% endblock %}