{% load static %}

<div class="collapsible-header">
  <div class="object_text">
    <div class="title">{{ group.name }}</div>
    {% if group.address %}
      <div>{{group.scope.name|title}} - {{group.address}}</div>
    {% else %}
      <div>{{group.scope.name|title}}</div>
    {% endif %}
    <div class="group_description">{{group.description | safe}}</div>
    {% include 'main/tags.html' with tags=group.tags.all causes=group.causes.all %}
  </div>
  <div class="object_buttons">
    <a class="dropdown-trigger dont_expand" data-target="dropdown{{index}}"><i class="material-icons main_object_icon">share</i></a>
    <ul id='dropdown{{index}}' class='dropdown-content'>
      <li><a class="dont_expand" onclick="copyGroupLink{{index}}()">Copy Link</a></li>
      <li><a class="dont_expand" onclick="copyGroupText{{index}}()">Copy Text</a></li>
      <li><a class="dont_expand" onclick="shareGroupEmail{{index}}()">Share by Email</a></li>
      <li><a class="dont_expand" onclick="shareGroupFacebook{{index}}()">Share on Facebook</a></li>
      <li><a class="dont_expand" onclick="shareGroupTwitter{{index}}()">Share on Twitter</a></li>
    </ul>
    <script type="text/javascript">
      function copyGroupLink{{index}}() {
        copyToClipboard(window.location.host+'/{{data_type}}/{{group.id}}/')
      }
      function copyGroupText{{index}}() {
        let text = document.title + ' ' + window.location.href + '\n'
        text += '-----------------------\n'
        text += '{{group.name}}\n'
        {% if group.address %}
          text += '{{group.scope.name|title}} - {{group.address}}'
        {% else %}
          text += '{{group.scope.name|title}}'
        {% endif %}
        text += '{{group.description}}\n'
        text += window.location.host+'/{{data_type}}/{{group.id}}/\n'
        copyToClipboard(text)
      }
      function shareGroupEmail{{index}}() {
        let subject = document.title
        let body = window.location.host+'/{{data_type}}/{{group.id}}/'
        window.location.href = 'mailto:?subject='+encodeURI(subject)+'&body='+encodeURI(body)
      }
      function shareGroupFacebook{{index}}() {
        text = window.location.host+'/{{data_type}}/{{group.id}}/'
        window.location.href = 'https://www.facebook.com/sharer/sharer.php?u=' + encodeURI(text)
      }
      function shareGroupTwitter{{index}}() {
        let text = '{{event.title}}'
        let url = window.location.host+"/{{data_type}}/{{group.id}}/"
        window.location.href = 'https://twitter.com/intent/tweet?text=' + encodeURI(text) + '&url=' + encodeURI(url)
      }
    </script>
    {% if group.url %}
      <a href="{{group.url}}" class="dont_expand"><i class="material-icons">link</i></a>
    {% endif %}
    {% if group.email %}
      <a href="mailto:{{group.email}}" class="dont_expand"><i class="material-icons">email</i></a>
    {% endif %}

  </div>
</div>