{% extends 'main/base.html' %}

{% block title %} - Newsletter Subscription{% endblock %}

{% block content %}

<div class="page_title">
  {% if newsletter_subscription %}Edit Newsletter Subscription{% else %}Subscribe to the Newsletter{% endif %}
</div>
{% if newsletter_subscription %}
  <div>{{newsletter_subscription.email}}"</div>
{% else %}
  <a class="btn">Edit Existing Subscription</a>
{% endif %}
{% if message_type == 'already_exists' %}
<div>A subscription at that email address already exists, a link to edit your subscription has been sent.</div>
{% endif %}
<input type="hidden" name="code" value={{newsletter_subscription.code}}>
<select multiple>
  {% for subdomain in subdomains %}
  <option value="{{subdomain.id}}">{{subdomain.name}}</option>
  {% endfor %}
</select>
{% if newsletter_subscription %}<button type="submit" class="btn">Unsubscribe</button>{% endif %}
<button type="submit" class="btn">Save</button>
recaptcha
{% endblock %}