{% extends 'main/base.html' %}
{% block title %} - Facts{% if selected_tags %} about {% for tag in selected_tags %}{{ tag.display_name}}{% if not forloop.last %}, {% endif %}{%endfor%}{% endif %}{% endblock %}
{% block main %}

<style>

  
  .collapsible li {
    margin-top: 20px;
  }
  
  .fact_text {
    padding:10px;
    font-size:20px;
  }
  .fact_button_bar {
    padding:10px;
    display:flex;
    font-size:18px;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
  }
  
  .collapsible li.active i {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }
  
  .collapsible hr {
    width:100%;
  }

  .collapsible-header {
    display:flex;
    flex-direction:column;
  }
  
  .sources_title {
    font-size:20px;
  }
  
</style>

{% include 'main/header.html' %}
<ul class="collapsible expandable">
  {% for fact in facts %}
  <li>
    <div class="collapsible-header">
      <div class="fact_text dont_expand">{{ fact.text }}</div>
      <div class="fact_button_bar">
        {% include 'main/tags.html' with tags=fact.tags.all %}
        <i class="material-icons">expand_more</i>
      </div>
      
    </div>
    <div class="collapsible-body">
      <span>{{fact.extra_text}}</span>
      {% if fact.sources.all %}
      <div class="sources_title">Sources</div>
      <ul>
      {% for source in fact.sources.all %}
      <li><a href="{{source.url}}">{{source.title}}</a> - {{source.publication}}</li>
      {% endfor %}
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>


{% include 'main/pagination.html' with objects=facts %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible.expandable');
    var instances = M.Collapsible.init(elems, {
      accordion: false,
    });
    
    let dont_expands = document.querySelectorAll('.dont_expand')
    for (let i=0; i<dont_expands.length; ++i) {
      dont_expands[i].onclick = function(e) {
        e.stopPropagation();
      }
    }
    
  });
  

</script>

{% endblock %}