<div class="collapsible-header ">
  <div class="object_text">
    <div style="display:flex;flex-direction:row;align-items:center;"><span class="title">{{ resource.name }}</span></div>
    <div>{{resource.description | safe}}</div>
    <div class="tag_expand_bar">
      {% include 'main/tags.html' with tags=resource.tags.all causes=resource.causes.all %}
    </div>
  </div>
  <div class="object_buttons">
    <a class="dropdown-trigger dont_expand" data-target="dropdown{{index}}"><i class="material-icons main_object_icon">share</i></a>
    <ul id='dropdown{{index}}' class='dropdown-content'>
      <li><a class="dont_expand" onclick="copyResourceLink{{index}}()">Copy Link</a></li>
      <li><a class="dont_expand" onclick="copyResourceText{{index}}()">Copy Text</a></li>
      <li><a class="dont_expand" onclick="shareResourceEmail{{index}}()">Share by Email</a></li>
      <li><a class="dont_expand" onclick="shareResourceFacebook{{index}}()">Share on Facebook</a></li>
      <li><a class="dont_expand" onclick="shareResourceTwitter{{index}}()">Share on Twitter</a></li>
    </ul>
    <script type="text/javascript">
      function copyResourceLink{{index}}() {
        copyToClipboard(window.location.host+'{% url 'resources:detail' resource.id %}')
      }
      function copyResourceText{{index}}() {
        let text = document.title + ' ' + window.location.href + '\n'
        text += '-----------------------\n'
        text += '{{resource.name}}\n'
        {% if resource.address %}
          text += '{{resource.scope.name|title}} - {{resource.address}}'
        {% else %}
          text += '{{resource.scope.name|title}}'
        {% endif %}
        text += '{{resource.description}}\n'
        text += window.location.host+'{% url 'resources:detail' resource.id %}\n'
        copyToClipboard(text)
      }
      function shareResourceEmail{{index}}() {
        let subject = document.title
        let body = window.location.host+"{% url 'resources:detail' resource.id %}"
        window.location.href = 'mailto:?subject='+encodeURI(subject)+'&body='+encodeURI(body)
      }
      function shareResourceFacebook{{index}}() {
        text = window.location.host+"{% url 'resources:detail' resource.id %}"
        window.location.href = 'https://www.facebook.com/sharer/sharer.php?u=' + encodeURI(text)
      }
      function shareResourceTwitter{{index}}() {
        let text = '{{event.title}}'
        let url = window.location.host + '{% url 'resources:detail' resource.id %}'
        window.location.href = 'https://twitter.com/intent/tweet?text=' + encodeURI(text) + '&url=' + encodeURI(url)
      }
    </script>

    <a href="{{resource.url}}" class="dont_expand"><i class="material-icons">link</i></a>
  </div>
</div>