{% extends 'main/base.html' %}
{% load static %}
{% block title %} - {% if selected_tags %}{% for tag in selected_tags %}{{ tag.display_name}}{% if not forloop.last %} & {% endif %}{%endfor%} {% endif %}{{data_type | title}}{% if subdomain and data_type != 'facts' and data_type != 'resources' %} near {{ subdomain.name }}{% endif %}{% endblock %}
{% block main %}


{% include 'main/header.html' %}

<style type="text/css">
  .collapsible-header {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:stretch;
  }
  .collapsible > li {
    margin-bottom:40px;
  }
  .object_text {
    font-size:18px;
  }
  .title {
    font-size:26px;
  }
  .object_buttons {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-end;
  }
  .object_buttons i {
      margin:5px;
  }

  .main_object_icon {
    margin:4px !important;
  }
  .collapsible > li.active i.expand_icon {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }
  .links_share_bar {
    margin:20px 0;
  }
  .collapsible-body {
    padding:0;
  }

  .object_text ul {
    padding-left:20px;
  }


  .btn_share img {
    width:20px;
    margin:6px;
    transform:translateY(4px);
  }


  .group_link_buttons {
    text-align:right;
  }
  .group_description {
    margin:10px 0;
  }
</style>
<ul class="collapsible expandable">
  {% for object in objects %}
  <li>
    {% if data_type == 'events' %}
      {% include 'events/item.html' with event=object index=forloop.counter %}
    {% elif data_type == 'organizations' or data_type == 'communities' or data_type == 'sanctuaries' %}
      {% include 'groups/item.html' with group=object index=forloop.counter %}
    {% elif data_type == 'resources' %}
      {% include 'resources/item.html' with resource=object index=forloop.counter %}
    {% elif data_type == 'facts' %}
      {% include 'facts/item.html' with fact=object index=forloop.counter %}
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% include 'main/pagination.html' with objects=objects %}

<script type="text/javascript">

  let collapsible_instances = null

  document.addEventListener('DOMContentLoaded', function() {
    var collapsible_elems = document.querySelectorAll('.collapsible.expandable');
    collapsible_instances = M.Collapsible.init(collapsible_elems, {
      accordion: false
    });


    var elems_dropdowns = document.querySelectorAll('.collapsible .dropdown-trigger')
    // for (let i=0; i<elems_dropdowns.length; ++i) {
    //   elems_dropdowns[i].style.color = 'dimgrey'
    // }
    var instances_dropdowns = M.Dropdown.init(elems_dropdowns, {
      alignment: 'right',
      coverTrigger: false
    });

    let dont_expands = document.querySelectorAll('.dont_expand')
    for (let i=0; i<dont_expands.length; ++i) {
      dont_expands[i].addEventListener('click', event => {
        event.stopPropagation();
      })
    }
  });

</script>
{% endblock %}
