
<style type="text/css">
  .pagination_container {
    
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
  }
  
  .pagination_container div {
    line-height: 100%;
    margin:10px;
  }
</style>
<div class="pagination_container">
  {% if objects.has_previous %}
  <div><a href="?page={{objects.previous_page_number}}"><i class="material-icons grey-text">chevron_left</i></a></div>
  {% endif %}
  <div><span>{{ objects.number }} / {{ objects.paginator.num_pages }}</span></div>
  {% if objects.has_next %}
  <div><a href="?page={{objects.next_page_number}}"><i class="material-icons grey-text">chevron_right</i></a></div>
  {% endif %}
</div>