{% extends 'main/base.html' %}
{% block title %} - Restaurants{% endblock %}
{% block main %}
<div class="page_title">Restaurants</div>
<a class="btn" href="https://www.google.com/maps/search/vegan/">Google Maps</a>
<a class="btn" href="https://www.happycow.net/">HappyCow</a>
{% endblock %}