<style type="text/css">
  .tags > a {
    margin:4px;
    /*border: 1px solid var(--link-color);
    padding:4px;*/
    font-size:16px;
  }
  .tags {
    padding-top:10px;
  }
</style>
<div class="tags">
  {% for cause in causes %}
  <a href="#" class="tag dont_expand" onmouseup="toggleCauseSelection('{{cause.name}}')">{{cause.name | title}}</a>
  {% endfor %}
  {% for tag in tags %}
  <a href="#" class="tag dont_expand" onmouseup="toggleTagSelection('{{tag.display_name}}')">{{tag.display_name}}</a>
  {% endfor %}
</div>
<script type="text/javascript">
  function toggleTagSelection(tag) {
    for (let i=0; i<select_tags.options.length; ++i) {
        select_tags.options[i].selected = select_tags.options[i].innerText == tag
    }
    initializeSelects()
    setFilterVisible(true)
    window.scrollTo(0, 0);
    btn_apply.removeAttribute('disabled')
  }
  function toggleCauseSelection(cause) {
    for (let i=0; i<select_causes.options.length; ++i) {
        select_causes.options[i].selected = select_causes.options[i].value == cause
    }
    initializeSelects()
    setFilterVisible(true)
    window.scrollTo(0, 0);
    btn_apply.removeAttribute('disabled')
  }
</script>